{% for item in items %}
    <div class="mini_item">
        <h2>{{ item.name }}</h2>

        {% if item.tags.all %}
            <ul>
                {% for tag in item.tags.all %}
                    <li><i>{{ tag.name }}</i></li>
                {% endfor %}
            </ul>
        {% endif %}

        <div class="description">
            {{ item.text|truncatewords:10|linebreaks|default:"Очень хороший товар! А также посмотрите Гараж!!!" }}
        </div>
    </div>

    {% if not forloop.last %}
        <hr>
    {% endif %}
{% empty %}
    Список пуст. Эй, админ, добавь инфы!
{% endfor %}