{% extends "base.html" %}


{% block title %}
    Мой профиль
{% endblock title %}

{% block content %}
    <main>
        <h1>Мой профиль</h1>
        <a href="{% url "auth:logout"%}?next={{ request.path }}" class="btn btn-outline-danger">Выйти</a>
        <a href="{% url "auth:password_change"%}" class="btn btn-outline-secondary">Сменить пароль</a>
        <br>
        <br>

        {% include "core/include/form.html" with form=form btn_text="Сохранить" %}

        {% for rating in best_ratings %}
            <a href="{% url 'catalog:item_detail' rating.id %}">{{ rating.item.name }}</a><br>
        {% endfor %}
    </main>
{% endblock content %}
