{% extends "base.html" %}


{% block title %}
	Информация о пользователе
{% endblock title %}

{% block content %}
	<h1>Информация о пользователе</h1>
	<div class="card">
		<div class="card-body">
			{% if user_.first_name %}
				<p>Имя: {{ user_.first_name }}</p>
			{% endif %}
			{% if user_.last_name %}
				<p>Фамилия: {{ user_.last_name }}</p>
			{% endif %}
			{% if user_.email %}
				<p>Почта: {{ user_.email }}</p>
			{% endif %}
			{% if user_.profile.birthday %}
				<p>День рождения: {{ user_.profile.birthday }}</p>
			{% endif %}
			{% if items %}
				<h3>Список любимых товаров</h3>
				<ul>
					{% for item in items %}
						<li>{{ item.name }}</li>
					{% endfor %}
				</ul>
			{% else %}
				<div class="alert alert-danger" role="alert">
					Любимых товаров нет
				</div>
			{% endif %}
		</div>
	</div>
{% endblock content %}
