{% extends "base.html" %}


{% block title %}
    Подробное описание товара
{% endblock title %}

{% block content %}
    <main>
        <h1>Подробное описание товара</h1>
        <h2>{{ item.name }}</h2>

        {{ item.category.name }}

        {% if item.tags.all %}
            <ul>
                {% for tag in item.tags.all %}
                    <li><i>{{ tag.name }}</i></li>
                {% endfor %}
            </ul>
        {% endif %}

        <br><b>Средняя оценка {{ rating.star_aver }} ({{ rating.count }})</b>

        <br>
        {% if user.is_authenticated %}
            {% if user_personal %}
                Ваша оценка: {{ user_personal.eval }}

                <form method="post">
                    {% csrf_token %}

                    {% for radio in user_personal.form.star %}
                        <div class="myradio">
                            {{ radio }}
                        </div>
                    {% endfor %}

                    <input type="submit" value="Редактировать">
                </form>
            {% else %}
                Вы не оставляли оценку
            {% endif %}
        {% else %}
            Для просмотра или редактирования своей оценки <a
                href="/admin/login/?next={{ request.path }}">войдите</a> в систему!
        {% endif %}
    </main>
{% endblock content %}
