{% extends "base.html" %}


{% block title %} Подробное описание товара {% endblock title %}

{% block content %}
<main>
	<h1>Подробное описание товара</h1>
	<div class="card">
		<div class="card-body">
			<h5 class="card-title">{{ item.name }}</h5>
			{% autoescape off %}
			<h6 class="card-subtitle mb-2 text-muted">{{ item.text| truncatewords:10 }}</h6>
			{% endautoescape %}
			<p>Категория - {{ item.category.name }}</p>
			<p>Теги - {% for tag in item.tags.all %}
				<span class="badge rounded-pill bg-primary">{{ tag.name }}</span>{% endfor %}
			</p>
			<h6>{% if stars.star__avg %}{{ stars.star__avg }}{% else %}0.0{% endif %} звёзд /
				оценок: {{ stars.star__count }}</h6>
			<img src="{{ item.get_image_400x300.url }}" alt="Image">
			<br>
			{% for image in images %}
			<img src="{{ image.get_image_400x300.url }}" alt="Image">
			{% empty %}
			<div class="alert alert-danger" role="alert">
				Картинка отсутствует
			</div>
			{% endfor %}

			{% if user.is_authenticated %}
			<form method='post'>
				{% csrf_token %}
				{% for radio in user_personal.form.star %}
				<div class="form-check">
					{{ radio }}
				</div>
				{% endfor %}
				<button type="submit" class="btn btn-primary">{% if star_user == 0 %}Поставить оценку{% else %}
					Изменить оценку{% endif %}</button>
			</form>
			{% else %}
			<div class="alert alert-danger" role="alert">
				Для просмотра или редактирования своей оценки
				<a href="{% url "auth:login" %}">войдите</a> в систему!
			</div>
			{% endif %}
		</div>
	</div>
</main>
{% endblock content %}